{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="slider-area slider-bg ">
            <div class="slider-active dot-style">
                <div class="single-slider d-flex align-items-center slider-height ">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".3s">IP and proxy finder</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">find IP or proxy or TOR being used.</p>
                                    <!-- Slider btn -->
                                   <div class="slider-btns">
                                        <!-- Hero-btn -->
                                        <a data-animation="fadeInLeft" data-delay="1s" href="results/" class="btn radius-btn">get started</a>
                                   </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right">
                                    <img src="{% static 'img/hero/hero_right.png' %}" alt="" data-animation="fadeInRight" data-delay="1s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="single-slider d-flex align-items-center slider-height ">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".3s">Hosting digital  technology web  solution! </h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Automated Control Panel with Up to 50% Off  Hosting Starting from $2.50/Month.</p>
                                    <!-- Slider btn -->
                                   <div class="slider-btns">
                                        <!-- Hero-btn -->
                                        <a data-animation="fadeInLeft" data-delay="1s" href="results/" class="btn radius-btn">get started</a>
                                   </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right">
                                    <img src="{% static 'img/hero/hero_right.png' %}" alt="" data-animation="fadeInRight" data-delay="1.5s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="single-slider d-flex align-items-center slider-height ">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".3s"></h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s"></p>
                                    <!-- Slider btn -->
                                   <div class="slider-btns">
                                        <!-- Hero-btn -->
                                        <a data-animation="fadeInLeft" data-delay="1s" href="results/" class="btn radius-btn">get started</a>
                                   </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right">
                                    <img src="{% static 'img/hero/hero_right.png' %}" alt="" data-animation="fadeInRight" data-delay="1.5s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <!-- Slider Shape -->
            <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src="{% static 'img/hero/top-left-shape.png' %}" alt="">
                <img class="slider-shape2" src="{% static 'img/hero/right-top-shape.png' %}" alt="">
                <img class="slider-shape3" src="{% static 'img/hero/left-botom-shape.png' %}" alt="">
            </div>
            <!-- slider Social -->
            <div class="slider-social d-none d-md-block">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fas fa-globe"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>

        </div>
        <div class="services-area section-padding30 fix">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-100">
                            <span>Our Services</span>
                            <h2>What we have for you</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="services-wrapper mb-50">
                            <div class="single-services">
                                <div class="services-icon">
                                    <span class=""> <i class="fas fa-map-marker"></i></span>
                                </div>
                                <div class="services-cap">
                                    <h3><a href="results/">IP</a></h3>
                                    <p>Finding IP</p>
                                    <a href="results/" class="get-btn"><i class="ti-arrow-right"></i> get started</a>
                                </div>
                            </div>
                            <div class="services-shape">
                                <span>.01</span>
                                <img src="{% static 'img/gallery/shape-services.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="services-wrapper mb-50">
                            <div class="single-services">
                                <div class="services-icon">
                                    <span class=""><i class="fab fa-gripfire"></i></span>
                                </div>
                                <div class="services-cap">
                                    <h3><a href="results/">Proxy</a></h3>
                                    <p>Finding proxy</p>
                                    <a href="results/" class="get-btn"><i class="ti-arrow-right"></i> get started</a>
                                </div>
                            </div>
                            <div class="services-shape">
                                <span>.02</span>
                                <img src="{% static 'img/gallery/shape-services.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="services-wrapper mb-50">
                            <div class="single-services">
                                <div class="services-icon">
                                    <span class=""><i class="fas fa-shield-alt"></i></span>
                                </div>
                                <div class="services-cap">
                                    <h3><a href="results/">Finding Tor</a></h3>
                                    <p>Finding wheather Tor is used</p>
                                    <a href="results/" class="get-btn"><i class="ti-arrow-right"></i> get started</a>
                                </div>
                            </div>
                            <div class="services-shape">
                                <span>.03</span>
                                <img src="{% static 'img/gallery/shape-services.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}